<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %-30(%d{HH:mm:ss} [%t]) %30(%highlight(%-5level) %green(%logger{30}):%yellow(%L)) - %cyan(%msg%n)
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
